<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prng.imagefilepicker">

    <application>
        <activity android:name=".filepicker.FilePickerActivity"></activity>
        <activity android:name=".ImageItemListActivity" />
        <activity android:name=".ImageListActivity" />
    </application>

</manifest>